<%= form_for @frugle do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :discount %><br />
	<% @frugle_discount_options = [['% Off', 'percent'], ['$ Off', 'dollar'], ['$ For', 'flat'], ['Free with Purchase Of', 'bonus'], ['Buy One Get One Free', 'bogo']] %>
    <%= f.select :discount, options_for_select(@frugle_discount_options) %>
  </p>
  <p id="cost_div">
    <%= render :partial => 'cost', :locals => { :f => f } %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.check_box :mobile %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end, :default =>3.months.from_now, :order => [:day, :month, :year] %>
  </p>
  <p><%= f.submit %></p>
<% end %>
