<% title "Contact Frugle" %>

<h2 class="yellow_strip">Contact Us</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>


<%= form_tag "/frugles/send_message" do %>
	<div class="reg_row">
		<div class="new_business_col_left">Name</div>
	  <div class="fl"><%= text_field_tag 'name', nil, :class => "reg_bar"  %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Email Address</div>
	  <div class="fl"><%= email_field_tag 'email', nil, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Subject</div>
		<% @subjects = ["General", "Merchant Inquiry", "Feedback", "Site Problem", "Other"]%>
	  <div class="fl"><%= select_tag('subject', options_for_select(@subjects) ) %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Message</div>
	  <div class="fl"><%= text_area_tag 'message', nil, :class => "reg_bar", :style => "height: 80px;width:205px;" %></div>
	  	<div class="clr"></div>
	</div>
  <%= submit_tag "Send Message", :class => "hide_button" %>
<% end %>


<div style="margin:0 0 -28px -17px;"><%= image_tag "skyline_bottom.png" %></div>