<% title "Contact Frugle" %>
<% javascript "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" %>

<h2 class="yellow_strip">Contact Us</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<script>
jQuery(document).ready(function() {
		    jQuery("#contact_us_form").validate({
		    rules: {
					name: "required",
					email: { required: true, email: true },
					message: "required"
		    },
			messages: {
					name: "***",
					email: "***",
					message: "***"
		    },
						success: "valid"
		    });
		});
</script>

<%= form_tag "/frugles/send_message", :id => "contact_us_form" do %>
	<div class="reg_row">
		<div class="new_business_col_left">Name</div>
	  <div class="fl"><%= text_field_tag 'name', nil, :class => "reg_bar"  %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Email Address</div>
	  <div class="fl"><%= text_field_tag 'email', nil, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Subject</div>
		<% @subjects = ["General", "Merchant Inquiry", "Feedback", "Site Problem", "Other"]%>
	  <div class="fl"><%= select_tag('subject', options_for_select(@subjects) ) %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Message</div>
	  <div class="fl"><%= text_area_tag 'message', nil, :class => "reg_bar", :style => "height: 80px;width:205px;" %></div>
	  	<div class="clr"></div>
	</div>
  <%= submit_tag "Send Message", :class => "hide_button", :style => "margin-left:240px;" %>
<% end %>

<div id="contact_frills">
<%= image_tag "business_orange_bar_right.png", :style => "float:left" %>
<h3>Thanks for the message, we'll get back to you as soon as we can!</h3>
</div>

<div class="clr"></div>

<div class="skyline_bottom"><%= image_tag "skyline_bottom.png" %></div>