<% title "New Frugle" %>
<% javascript 'poop' %>

<%= form_for @frugle do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :discount %><br />
    <%= f.select :discount, options_for_select(@frugle_discount_options) %>
  </p>
  <p id="cost_div">
		<%= f.text_field :percentage, :size => 3 %> % Off <%= f.text_field :product, :size => 15 %>
  </p>
  <p>
    <%= f.label :not_valid_with_any_other_offer %><br />
    <%= f.check_box :other_offer %>
  </p>
  <p>
    <%= f.label :limit_one_per_visit %><br />
    <%= f.check_box :visit %>
  </p>
  <p>
    <%= f.label :coupon_void_if_altered %><br />
    <%= f.check_box :altered %>
  </p>
	<p>
		<%= f.radio_button :customers, "New" %> New Customers Only
	  <%= f.radio_button :customers, "Returning" %> Returning Customers Only</p>
	</p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.check_box :mobile %>
  </p>
  <p>
    <%= f.label :quantity %> (Leave blank if Unlimited)<br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end, :default =>3.months.from_now, :order => [:month, :day, :year] %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<div id="preview">
	<h2>Preview</h2>
	<p id="discount"><span id="percentage"></span>% Off <span id="product"></span></p>
	<p><span id="other_offer"></span> <span id="visit"></span> <span id="altered"></span> <span id="customers"></span></p>
	<p id="details"></p>
	<p id="mobile"></p>
	<p id="quantity"></p>
	<p id="start"><span id="start"></p>
	<p id="end"></p>
</div>

<div class="clear"></div>
