<% title "Print Frugle" %>

<h1 class="logo"><%= link_to "Frugle", root_path %></h1>

<div style="float: right; text-align: right; line-height: 5px;">
	<h2>000<%= @frugle.prints %></h2>
	<h2><%= @frugle.verification %></h2>
	<p>Verify this Frugle by going to www.frugle.me/verify</p>
</div>

<div class="clr"></div>


<h2 style="font-size:32px;"><%= category_icon(@frugle) %><%= @frugle.cost %></h2>

<h3 style="margin: 0;"><%= @frugle.business.name %></h3>

<h3 style="font-weight:normal;margin:0;">
	<%= @frugle.business.address %><br />
	<% unless @frugle.business.address2 == nil %>
		<%= @frugle.business.address2 %><br />
	<% end %>
	<%= @frugle.business.neighborhood.name %>, <%= @frugle.business.zip %><br />
	<%= @business.phone %>
</h3>

<p>
	<strong>Expires:
	<%= l @frugle.end.to_date, :format => :default %></strong>
</p>

<%= raw(@map.to_html) %>

<%= raw(@map.div(:width => 600, :height => 400)) %>

<p>
	<% if @frugle.other_offer %>
		Not valid with any other offer. 
	<% end %>
	<% if @frugle.visit %>
		Limit one per visit. 
	<% end %>
	<% if @frugle.altered %>
		Coupon void if altered. 
	<% end %>
	<% if @frugle.customers == "New" %>
		New customers only. 
	<% elsif @frugle.customers == "Returning" %>
		Returning customers only. 
	<% end %>
<p>
	
<% if @frugle.mobile %>
	<p>You may present this frugle on your phone to redeem it.</p>
<% end %>