<% title "Print Frugle" %>
<p>A coupon from www.frugle.me</p>

<h1><%= @frugle.verification %></h1>

<h2><%= @frugle.cost %></h2>

<h3>
	<%= @frugle.business.name %><br />
	<%= @frugle.business.address %><br />
	<% if @frugle.business.address2? %><br />
		<% @frugle.business.address2 %>
	<% end %>
	<%= @frugle.business.neighborhood.name %>, <%= @frugle.business.zip %><br />
	<%= @business.phone %>
</h3>

<p>
	<% if @frugle.other_offer %>
		Not valid with any other offer. 
	<% end %>
	<% if @frugle.visit %>
		Limit one per visit. 
	<% end %>
	<% if @frugle.altered %>
		Coupon void if altered. 
	<% end %>
	<% if @frugle.customers == "New" %>
		New customers only. 
	<% elsif @frugle.customers == "Returning" %>
		Returning customers only. 
	<% end %>
<p>
	
<% if @frugle.mobile %>
	<p>You may present this frugle on your phone to redeem it.</p>
<% end %>
	
<p>
	<strong>Expires:</strong>
	<%= l @frugle.end.to_date, :format => :default %>
</p>

<p>000<%= @frugle.prints %></p>

<p>Verify this Frugle by going to www.frugle.me/verify</p>

<%= raw(@map.div(:width => 600, :height => 400)) %>