<% title "#{@frugle.business.name} - #{@frugle.cost}"%>
<div style="text-align:center;">

<p><span style="position:relative;top:10px;"><%= category_icon_nolink(@frugle) %></span><span style="margin-left:5px;"><%= @frugle.business.name %></span>
	<div id="follow" class="hide_button" style="margin-top:15px;">
		<%= render :partial => 'follow', :business => @business %>
	</div>	
</p>



<h2 style="margin: 25px 0;">
  <%= @frugle.cost %>
</h2>

<div style="font-family: 'Trebuchet MS', sans-serif;">
<% if user_signed_in? %>
	<p style="margin:0 0 25px 0;"><%= link_to "Print This Frugle", print_frugle_path(@frugle), :class => "button" %>
		<span class="save_<%= @frugle.id %>" style="margin: 15px 0;">
		<%= render :partial => 'save', :frugle => @frugle %>
		</span></p>
<% else %>
	<p style="margin:0 0 25px 0;"><%= link_to "Print This Frugle", new_user_session_path, :class => "button", :target => "_parent" %><span class="save_<%= @frugle.id %>" style="margin: 15px 0;">
	<%= render :partial => 'save', :frugle => @frugle %>
	</span></p>
<% end %>

<p>
	<% if @frugle.other_offer %>
		Not valid with any other offer. 
	<% end %>
	<% if @frugle.visit %>
		Limit one per visit. 
	<% end %>
	<% if @frugle.altered %>
		Coupon void if altered. 
	<% end %>
	<% if @frugle.customers == "New" %>
		New customers only. 
	<% elsif @frugle.customers == "Returning" %>
		Returning customers only. 
	<% end %>
<p style="margin-top:10px;">
  <strong>Details:</strong>
  <%= @frugle.details %>
</p>
<% unless @frugle.mobile.nil? %>
<p>
	We will accept this Frugle printed out or on a phone.
</p>
<% else %>
<p>
	We will only accept this Frugle when it is printed out.
</p>
<% end %>
<% unless @frugle.quantity.nil? %>
<p>
  <strong>Quantity:</strong>
  <%= @frugle.quantity %>
</p>
<% end %>
<p>
  <strong>Expires:</strong>
	<%= l @frugle.end.to_date, :format => :default %>
</p>

<% unless @frugle.tag_list.empty? %>
<p>
  <strong>Tags:</strong>
		<% @frugle.tag_counts.each do |tag| %>
			<%= link_to frugles_path(:search => tag.name), :target => "_parent", :class => "button" do %>
				<span class="icon tag"></span>
				<%= tag.name %>
			<% end %>
		<% end %>
</p>
<% end %>

<p><%= link_to "View All Frugles from #{@frugle.business.name}", business_path(@frugle.business), :target => "_parent" %></p>

<p><%= link_to "View All #{@frugle.category.title} Frugles", frugles_path(:search => "#{@frugle.category.title}"), :target => "_parent" %></p>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin:25px 0 0 250px;">
	<a class="addthis_button_preferred_1" addthis:url="<%= business_frugle_url(@frugle.business, @frugle)%>"></a>
	<a class="addthis_button_preferred_2" addthis:url="<%= business_frugle_url(@frugle.business, @frugle)%>"></a>
	<a class="addthis_button_preferred_3" addthis:url="<%= business_frugle_url(@frugle.business, @frugle)%>"></a>
	<a class="addthis_button_compact" addthis:url="<%= business_frugle_url(@frugle.business, @frugle)%>"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dd541f26a067bdf"></script>

<div style="margin:15px 0 0 160px;">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=217562748273591&amp;xfbml=1"></script><fb:like href="<%= frugle_url(@frugle) %>" send="false" width="450" show_faces="false" font="trebuchet ms"></fb:like>
</div>

</div>
<div style="position: absolute; margin: 0 0pt 0pt 40px; z-index: -9;bottom:0;"><%= image_tag "bottomgrass.png" %></div>