<% title "#{@frugle.business.name}" %>


<p>
  <%= @frugle.cost %>
</p>
<p>
  <strong>Details:</strong>
  <%= @frugle.details %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @frugle.mobile %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @frugle.quantity %>
</p>
<p>
  <strong>Views:</strong>
  <%= @frugle.views %>
</p>
<p>
  <strong>Start:</strong>
  <%= @frugle.start.to_date %>
</p>
<p>
  <strong>End:</strong>
  <%= @frugle.end.to_date %>
</p>
<p>
  <strong>Verification:</strong>
  <%= @frugle.verification %>
</p>
<p>
  <strong>Status:</strong>
  <%= @frugle.status %>
</p>

<p id="save">
	<% if @save == nil %>
		<%= link_to "Save this Frugle", new_saveds_path(current_user.id, :frugle_id => @frugle.id), :remote => true %>
	<% else %>
		<%= link_to "Unsave this Frugle", saveds_path(current_user.id, :frugle_id => @frugle.id), :method => :delete, :remote => true %>
	<% end %>
</p>

<iframe src="http://www.facebook.com/plugins/like.php?<%= request.url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

<% if current_user.id == @frugle.business.user_id %>
<p>
  <%= link_to "Edit", edit_frugle_path(@frugle) %> |
  <%= link_to "Destroy", @frugle, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", frugles_path %>
</p>
<% end %>
