<% title "#{@frugle.business.name}" %>

<h2 class="black_bar"><%= @frugle.business.name %>
	<span id="follow">
		<%= render :partial => 'follow', :business => @business %>
	</span>	
</h2>



<p style="margin: 25px 0;">
  <%= @frugle.cost %>
</p>

<% if user_signed_in? %>
	<p style="margin:0 0 25px 0;"><%= link_to "Print This Frugle", print_frugle_path(@frugle), :class => "big button", :target => "_parent" %></p>
<% else %>
	<p style="margin:0 0 25px 0;"><%= link_to "Print This Frugle", new_user_session_path, :class => "big button", :target => "_parent" %></p>
<% end %>

<p>
	<% if @frugle.other_offer %>
		Not valid with any other offer. 
	<% end %>
	<% if @frugle.visit %>
		Limit one per visit. 
	<% end %>
	<% if @frugle.altered %>
		Coupon void if altered. 
	<% end %>
	<% if @frugle.customers == "New" %>
		New customers only. 
	<% elsif @frugle.customers == "Returning" %>
		Returning customers only. 
	<% end %>
<p style="margin-top:10px;">
  <strong>Details:</strong>
  <%= @frugle.details %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @frugle.mobile %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @frugle.quantity %>
</p>
<p>
  <strong>Expires:</strong>
	<%= l @frugle.end.to_date, :format => :default %>
</p>

<% unless @frugle.tag_list.empty? %>
<p>
  <strong>Tags:</strong>
		<% @frugle.tag_counts.each do |tag| %>
			<%= link_to frugles_path(:search => tag.name), :target => "_parent", :class => "button" do %>
				<span class="icon tag"></span>
				<%= tag.name %>
			<% end %>
		<% end %>
</p>
<% end %>

<p class="save_<%= @frugle.id %>" style="margin: 15px 0;">
<%= render :partial => 'save', :frugle => @frugle %>

</p>

<p><%= link_to "View All Frugles from #{@frugle.business.name}", business_path(@frugle.business), :target => "_parent" %></p>

<p><%= link_to "View All #{@frugle.category.title} Frugles", frugles_path(:search => "#{@frugle.category.title}"), :target => "_parent" %></p>

<span style="float:left;margin:5px 0 0 200px;"><iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:30px;" allowTransparency="true"></iframe></span>