<% title "Verify a Frugle" %>

<div style="margin:-33px 0 0 -50px; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<h2>Frugle Verification</h2>
  <div class="verify_box">
  	<div class="caption" style="text-align:center;">Type in the code from the Frugle the customer gave you and click "Verify".</div>
  	<div class="verify_row">
    	<div class="cat_box_row1">Enter the 6 digit code on the Frugle below:</div>
			<%= form_tag '/frugles/verified', :remote => true do %>
      	<div class="form_row"><%= text_field_tag :search, params[:search], :class => "form_bar" %></div>
      	<div class="hide_button" style="margin-top:15px;"><%= submit_tag "Verify", :class => "hide_button" %></div>
			<% end %>
      
    </div>
  </div>


<h2 id="status" class="caption" style="text-align:center;z-index:4535;"></h2>

<ul id="details" style="margin:25px auto;width:270px;"></ul>

<div class="clr"></div>

<div style="position: relative; z-index: -88888; top: -50px;"><%= image_tag "skyline_bottom.png" %></div>