<script>
		
		    jQuery(".edit_business").validate({
					groups: {
						contact_phone: "business[contact_number][contact_area_code] business[contact_number][contact_first_three_digits] business[contact_number][contact_second_four_digits]"
					},

		    rules: {
		    	"business[name]": "required",
					"business[address]": "required",
					"business[zip]": "required",
					"business[category_id]": "required",
					"business[subcategory_id]": "required",
		    	"business[website]": {
		    		url: true
		    	},
					"business[hear_about]": "required",
					"business[email]": {
						email: true,
						required: true
					},
					"business[password]": "required",
					"business[password_confirmation]": {
						required: true,
						equalTo: "#business_password"
					},
					"business[contact_name]": "required",
					contact_phone: "required",
					"business[contact_number][contact_area_code]": "required",
					"business[contact_number][contact_first_three_digits]": "required",
					"business[contact_number][contact_second_four_digits]": "required",
					"business[role]": "required", 
					terms: "required",
		    },
			messages: {
		    	"business[name]": "***",
					"business[address]": "***",
					"business[zip]": "***",
					"business[category_id]": "***",
					"business[subcategory_id]": "***",
					"business[website]": "***",
					"business[hear_about]": "***",
					"business[email]": "***",
					"business[password]": "***",
					"business[password_confirmation]": "***",
					"business[contact_name]": "***",
					"business[contact_number][contact_area_code]": "***",
					"business[contact_number][contact_first_three_digits]": "***",
					"business[contact_number][contact_second_four_digits]": "***",
					"business[role]": "***",
					terms: "***"
		    },
					success: "valid"
		    });
</script>

<%= form_for @business do |f| %>
  <%= f.error_messages %>
<div class="new_business_box">
	<h3>Enter Your Business Listing Info:</h3>

	<div class="reg_row">
		<div class="new_business_col_left">Business Name</div>
	  <div class="fl"><%= f.text_field :name, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Address</div>
	  <div class="fl"><%= f.text_field :address, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Address 2</div>
	  <div class="fl"><%= f.text_field :address2, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Zip Code</div>
	  <div class="fl"><%= f.text_field :zip, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Website URL</div>
	  <div class="fl"><%= f.text_field :website, :placeholder => "http://", :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	<div class="reg_row">
		<div class="new_business_col_left">Business Info</div>
	  <div class="fl"><%= f.text_area :info, :class => "reg_bar", :style => "height: 80px;width:205px;" %></div>
	  	<div class="clr"></div>
	</div>
<script type="text/javascript">
$('business_category_id').observe("change",function(){
	categorySelected();
});
</script>
<div class="reg_row">
	<div class="new_business_col_left">Category</div>
  <div class="fl"><%= f.collection_select :category_id, Category.find(:all), :id, :title, :prompt => "Select a Category" %></div>
  	<div class="clr"></div>
</div>

<div class="reg_row">
	<div class="new_business_col_left">Subcategory</div>
  <div class="fl" id="subcategory_field"><%= f.collection_select :subcategory_id, Subcategory.find(:all), :id, :title, :prompt => "Select a Subcategory" %></div>
  	<div class="clr"></div>
</div>

<div class="reg_row">
	<div class="new_business_col_left">How Did You Hear About Frugle?</div>
  <div class="fl"><%= f.select :hear_about, options_for_select(@frugle_hear_about_options), :prompt => "Select One" %></div>
  	<div class="clr"></div>
</div>

</div>

<% unless user_signed_in? %>
<div class="new_business_box">
  <h3>Use the following email & password to login:</h2>

	<div class="reg_row">
		<div class="new_business_col_left">Email Address</div>
	  <div class="fl"><%= f.text_field :email, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="new_business_col_left">Password</div>
	  <div class="fl"><%= f.password_field :password, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="new_business_col_left">Confirm Password</div>
	  <div class="fl"><%= f.password_field :password_confirmation, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="new_business_col_left">Contact Name</div>
	  <div class="fl"><%= f.text_field :contact_name, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="new_business_col_left" style="margin-top:20px;">Contact Phone Number</div>
	  <div class="fl" id="contact_phone">
			<script>
			function moveOnMax(field,nextFieldID){
			  if(field.value.length >= field.maxLength){
			    document.getElementById(nextFieldID).focus();
			  }
			}
			</script>
	  	<%= f.fields_for :contact_number do |phone| %><br />
		  	<%= phone.text_field :contact_area_code, :size => 3, :class => "reg_bar_phone", :maxlength => 3, :onkeyup => "moveOnMax(this,'business_contact_number_contact_first_three_digits')" %>
				<%= phone.text_field :contact_first_three_digits, :size => 3, :class => "reg_bar_phone", :maxlength => 3, :onkeyup => "moveOnMax(this,'business_contact_number_contact_second_four_digits')" %>
				<%= phone.text_field :contact_second_four_digits, :size => 4, :class => "reg_bar_phone", :maxlength => 4, :onkeyup => "moveOnMax(this,'business_role')" %>
		  <% end %>
		<label for="contact_phone" generated="true" class="error" style="display:none;"></label>
	  </div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="new_business_col_left">Your Role</div>
	  <div class="fl"><%= f.select :role, options_for_select(@business_role_options), :prompt => "Select One" %></div>
	  	<div class="clr"></div>
	</div>
	
	<p style="text-align:center;font-size: 14px;"><label for="terms" class="error" style="display:none;position: relative; left: -5px; top: 1px;">***</label><%= check_box_tag :terms %>  You agree to our <%= link_to "terms and service", terms_path, :style => "font-weight:bold;", :target => "_blank" %></p>
</div>
<% end %>
  <p><%= f.submit "Sign Up!", :class => "button", :style => "margin-left:190px;" %></p>
<% end %>
