<%= form_for @business do |f| %>
  <%= f.error_messages %>
<h3>Step 2: Fill Out Business Info</h3>
  <p>
    <%= f.label :business_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :address_2 %><br />
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </p>
<script type="text/javascript">
$('business_category_id').observe("change",function(){
	categorySelected();
});
</script>
  <p>
    <%= f.label :category %><br />
	<%= f.collection_select :category_id, Category.find(:all), :id, :title, :prompt => "Select a Category" %>
  </p>
  <p id="subcategory_field">
    <%= f.label :subcategory %><br />
	<%= f.collection_select :subcategory_id, Subcategory.find(:all), :id, :title, :prompt => "Select a Subcategory" %>
  </p>
  <p>
    <%= f.label :how_did_you_hear_about_frugle? %><br />
    <%= f.select :hear_about, options_for_select(@frugle_hear_about_options) %>
  </p>

<% unless user_signed_in? %>
	<h3>Step 3: Create Account</h3>
  <h2>Use the following email and password to login next time</h2>
  <p>
  	<%= f.label :email %><br />
	<%= f.email_field :email %>
  </p>
  <p>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
  </p>
  <p>
  	<%= f.label :contact_name %><br />
		<%= f.text_field :contact_name %>
  </p>
  <p>
		<%= f.label :contact_phone_number %><br />
	  <%= f.fields_for :contact_number do |phone| %><br />
	  	<%= phone.text_field :contact_area_code, :size => 3 %>
			<%= phone.text_field :contact_first_three_digits, :size => 3 %>
			<%= phone.text_field :contact_second_four_digits, :size => 4 %>
	  <% end %>
  </p>
  <p>
    <%= f.label :your_role %><br />
    <%= f.select :role, options_for_select(@business_role_options) %>
  </p>
<% end %>
  <p><%= f.submit %></p>
<% end %>
