<% title "Frugle for Local Business" %>

<h2 class="yellow_strip">Frugle For Local Business</h2>

<div class="frugle_business_point">
	<%= image_tag "createfrugles.png" %>
	<h3>Create Frugles</h3>
	<p>If you have a coupon, promotion, or deal coming up, let everyone in you neighborhood know about it by creating your own Frugles.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "drivelocaltraffic.png" %>
	<h3>Drive Local Traffic</h3>
	<p>Every month, thousands of local customers search for deals on the products/services you offer in their neighborhood.  Frugle puts you and them in touch.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "viewyourtrends.png" %>
	<h3>View Your Trends</h3>
	<p>Unlike traditional mailers and advertising, you can view detailed statistics about your Frugles, and add/edit as you deem necessary.</p>
</div>

<div class="clr"></div>

<h2 style="text-align:center;margin: 25px 0;" class="hide_button"><%= link_to "List my Business for Free", new_business_path %></h2>

	<div style="margin:0 0 -28px -17px;"><%= image_tag "skyline_bottom.png" %></div>
<div class="clr"></div>