<% title "Frugle for Local Business" %>

<h2 class="yellow_strip">Frugle For Local Business</h2>

<div class="frugle_business_point">
	<%= image_tag "createfrugles.png" %>
	<h3>Create Frugles</h3>
	<p>If you have a coupon, promotion, or deal coming up, let everyone in you neighborhood know about it by creating your own Frugles.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "drivelocaltraffic.png" %>
	<h3>Drive Local Traffic</h3>
	<p>Every month, thousands of local customers search for deals on the products/services you offer in their neighborhood.  Frugle puts you and them in touch.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "viewyourtrends.png" %>
	<h3>View Your Trends</h3>
	<p>Unlike traditional mailers and advertising, you can view detailed statistics about your Frugles, and add/edit as you deem necessary.</p>
</div>

<div class="clr"></div>

<h2 style="text-align:center;margin: 25px 0;" class="hide_button"><%= link_to "List my Business for Free", new_business_path %></h2>


<p style="margin-bottom:25px;">Frugle <strong>isn't</strong> another deal-a-day site</p>

<%= image_tag "business_orange_bar.png", :style => "float:left" %><p id="orange_bar_business_text">A "frugle" is another word for a discount, deal, promotion or coupon that you are 100% in control of. You create the frugles, their discount type, and change them at any time based on the store traffic you see.</p>

<%= image_tag "business_chart.png", :style => "position:absolute;right:0; margin-top:-85px;" %>

<div class="clr"></div>

<p style="margin: 50px 25px 25px;width:500px; letter-spacing:1px;"><span style="font-size: 48px; position: absolute; margin-top: -10px; margin-left: -20px;">&#8220;</span> We're committed to providing neighborhood-centric, mom & pop driven, everyday deals to local communities <span style="font-size: 48px; position: absolute;">&#8221;</span> </p>

<%= image_tag "didyouknow.png", :style => "float:right;margin:-60px 0 0;" %>

<div class="clr"></div>

<div style="float:left;position:relative; z-index:2;">

<p style="margin-left: 40px;width:300px; margin-bottom: 25px;">Don't want to waste money on <strong>advertising</strong> that <strong>might not work?</strong></p>
<p style="margin-left: 80px;width:300px; margin-bottom: 25px;">Do you need a new way to effectively acquire new customers?</p>

<p style="margin-left: 120px;width:300px;">Hesitant to try group-buying due to the mixed results you've heard about?</p>

</div>

<%= image_tag "business_bottom_title.png", :style => "float:left;position:relative; z-index:2;" %>

	<div style="position: absolute; z-index: 1; margin: -19px 0pt -28px -17px;"><%= image_tag "skyline_bottom.png" %></div>
<div class="clr"></div>