<% title "New Business" %>
<% javascript 'dynamic' %>
<% javascript "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" %>

<h2 class="yellow_strip">List Your Business In 3 Easy Steps:</h2>

<ul id="new_business_signup_steps">
	<li>
		<%= image_tag "1.png" %>
			<h3>Phone Number</h3>
			<p>Enter your phone number so that we can verify that only neighborhood stores are registering</p>
		<div class="clr"></div>
	</li>
	
	<li>
		<%= image_tag "2.png" %>
			<h3>Listing Info</h3>
			<p>Tell your neighbors where they can find you and what you sell</p>
		<div class="clr"></div>
	</li>
	
	<li>
		<%= image_tag "3.png" %>
			<h3>Email & Password</h3>
			<p>Enter an email and password to keep your info safe (we will never sell your information, see our <%= link_to "privacy policy" %>)</p>
		<div class="clr"></div>
	</li>
</ul>
<div class="clr"></div>

<div id="get_started_here">
	<%= image_tag "getstartedhere.png" %>
</div>

<div>


<%= form_for @business, :remote => true do |f| %>
<div class="new_business_box">
	<h3>Enter Your Business Phone Number:</h3>
	<script>
	function moveOnMax(field,nextFieldID){
	  if(field.value.length >= field.maxLength){
	    document.getElementById(nextFieldID).focus();
	  }
	}
	</script>
	
	<script>

			    jQuery("#new_business").validate({
					groups: {
						phone: "business[phone][area_code] business[phone][first_three_digits] business[phone][second_four_digits]"
					},
			    rules: {
						phone: "required",
						"business[phone][area_code]": "required",
						"business[phone][first_three_digits]": "required",
						"business[phone][second_four_digits]": "required",
			    },
				messages: {
						"business[phone][area_code]": "***",
						"business[phone][first_three_digits]": "***",
						"business[phone][second_four_digits]": "***"
			    },
						errorPlacement: function(error, element) {
						     if (element.attr("name") == "business[phone][area_code]" || element.attr("name") == "business[phone][first_three_digits]" || element.attr("name") == "business[phone][second_four_digits]")
						       error.insertAfter("#business_submit");
						     else
						       error.insertAfter(element);
						   },
							success: "valid",
			    });
	</script>
  	<%= f.fields_for :phone do |phone| %>
	  	<%= phone.text_field :area_code, :size => 3, :class => "reg_bar_phone", :maxlength => 3, :onkeyup => "moveOnMax(this,'business_phone_first_three_digits')"  %>
			<%= phone.text_field :first_three_digits, :size => 3, :class => "reg_bar_phone", :maxlength => 3, :onkeyup => "moveOnMax(this,'business_phone_second_four_digits')"  %>
			<%= phone.text_field :second_four_digits, :size => 4, :class => "reg_bar_phone", :maxlength => 4, :onkeyup => "moveOnMax(this,'business_submit')"  %>
	  <% end %>
  </span>
<%= f.submit "Next", :class => "button", :style=> "margin:2px 0 0 14px;" %>
</div>

<% end %>

<div id="business_form">
</div>

</div>

<div class="clr"></div>