<% title "New Business" %>
<% javascript 'dynamic' %>

<ol>
	<li>Enter your phone number so that we can verify that only neighborhood stores are registering</li>
	<li>Tell your neighbors where they can find you and what you sell</li>
	<li>Enter a username and password to keep your info safe (we will never sell your information, see our <%= link_to "privacy policy" %>)</li>

<%= form_for @business, :remote => true do |f| %>
<p>
  <%= f.label :phone_number %>
  <%= f.fields_for :phone do |phone| %><br />
  	<%= phone.text_field :area_code, :size => 3 %>
		<%= phone.text_field :first_three_digits, :size => 3 %>
		<%= phone.text_field :second_four_digits, :size => 4 %>
  <% end %>

</p>

<p><%= f.submit %></p>
<% end %>

<div id="business_form">
</div>
