<% title "#{@business.name}" %>

<div class="yellow_strip"><%= @business.name %></div>
<div id="business_info">

	<h2><%= @business.name %></h2>
<div class="fl">
	
	<p style="margin-top:15px;">
		<%= @business.address %><br />
    <% unless @business.address2.nil? %>
    	<%= @business.address2 %><br />
		<% end %>
		<%= @business.neighborhood.name %>, <%= @business.zip %><br />
		<%= @business.phone %><br />
  	<a href="<%= @business.website %>" target="_blank" style="font-weight:bold;"><%= @business.website %></a>
	</p>
</div>

<div class="fr">
	<% if user_signed_in? %>
	<% unless current_user.role == "business" %>
	<p id="follow" class="hide_button" style="float:right;margin:0 0 10px;">
		<%= render :partial => 'frugles/follow', :business => @business %>
	</p>
	<div class="clr"></div>
	<% end %>
	<% end %>
<div class="hide_button" style="float:right;margin-top:0;"><%= link_to "Back to Neighborhood", :controller => "neighborhoods", :action => "show", :id => @business.neighborhood.friendly_id %></div>
<div class="clr"></div>

</div>
					
<div class="clr"></div>
<div class="fl" style="margin-top:15px;">
<p> <%= @business.info %></p>
</div>

</div>

<div class="form_box_col2_plain">
<div align="center">
  <p><%= raw(@map.div(:width => 345, :height => 245)) %>	</p>
</div>
</div>
<div class="clr"></div>

<div class="black_bar" style="margin-top:50px;">
<div>Frugles - <%= @frugles.count %></div>
</div>
<ul class="frugles tag_box" style="float:left;min-width:765px;">
	<%= render :partial => 'neighborhoods/small_frugle', :collection => @frugles, :as => :frugle %>
</ul>
<div class="clr"></div>
<div class="tag_border_bottom" style="position:relative;top:-9px;"><%= image_tag "tag_box_bottom.png" %></div>

<% if user_signed_in? %>
	<% if current_user.role == "admin" %>
	
		<div class="yellow_strip"><%= @business.name %> Admin Info</div>
		<p><strong>How did you hear about frugle?:</strong> <%= @business.hear_about %></p>
		<p><strong>Contact Name: </strong> <%= @business.contact_name %></p>
		<p><strong>Contact Phone: </strong> <%= @business.contact_number %></p>
		<p><strong>Contact Role: </strong> <%= @business.role %></p>
	
	<% end %>
<% end %>