<% title "#{@business.name}" %>

<p>
  <%= @business.address %><br />
  <%= @business.zip %><br />
  <%= @business.phone %><br />
  <%= @business.website %>
</p>
<p>
  <strong>Info:</strong>
  <%= @business.info %>
</p>

<% if user_signed_in? %>
<% unless current_user.role == "business" %>
<p id="follow">
	<% if @follow == nil %>
		<%= link_to "Follow #{@business.name}", new_follow_path(current_user.id, :business_id => @business.id), :remote => true %>
	<% else %>
		<%= link_to "Unfollow #{@business.name}", follow_path(current_user.id, :business_id => @business.id), :method => :delete, :remote => true %>
	<% end %>
</p>
<% end %>

<h2>Frugles(<%= @frugles.count %>)</h2>
<ul>
	<% for frugle in @frugles%>
	  <li>
		<%= link_to "#{frugle.cost}", frugle_path(frugle) %>
	  </li>
	<% end %>
</ul>

<% if current_user.id == @business.user_id %>
<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", businesses_path %>
</p>
<% end %>
<% end %>

<%= raw(@map.div(:width => 600, :height => 400)) %>
