<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://frugle.heroku.com/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="<%= root_url %>"><img src="http://frugle.heroku.com/images/title_splash.png" alt="Frugle"></a></h1>
    <p>
      Dear Taylor,
    </p>
    <p>
      Someone has used the Contact form on Frugle.me!
    </p>

		<p><strong>Name:</strong> <%= @name %></p>
		<p><strong>Email Address:</strong> <%= @email %></p>
		<p><strong>Message:</strong> <br /><%= @message %></p>

	
		<p><%= link_to "Visit the Site", root_url %></p>
		
		<p>Happy Savings!<br />
			The Frugle Team</p>

  </body>
</html>

