<% title "Business Admin" %>
<h2 class="yellow_strip" style="margin-top:-15px; margin-bottom:0;">Businesses Admin</h2>

<div class="tag_box">
<table width="98%" border="0" cellpadding="5" cellspacing="2" class="border-table" style="margin:auto;font-size:11px;">
  <tr>
		<td align="center" class="border-table bg-dark">id</td>
		<td align="center" class="border-table bg-dark">Name</td>
		<td align="center" class="border-table bg-dark">Address</td>
    <td align="center" class="border-table bg-dark">Neighborhood</td>
		<td align="center" class="border-table bg-dark">Phone</td>
		<td align="center" class="border-table bg-dark">Website</td>
		<td align="center" class="border-table bg-dark">Category</td>
		<td align="center" class="border-table bg-dark">Subcategory</td>
		<td align="center" class="border-table bg-dark"># Frugles</td>
		<td align="center" class="border-table bg-dark">Email Address</td>
		<td align="center" class="border-table bg-dark">&nbsp;</td>
  </tr>
<% for business in @businesses %>	
<% unless business.user.nil? %>
	<tr>
		<td align="center" class="border-table"><%= business.id %></td>
		<td align="center" class="border-table"><%= link_to business.name, business, :style => "font-weight:bold;" %></td>
		<td align="center" class="border-table"><%= business.address %></td>
		<td align="center" class="border-table"><%= business.neighborhood.name %></td>
		<td align="center" class="border-table"><%= business.phone %></td>
		<td align="center" class="border-table"><%= business.website %></td>
		<% unless business.category_id.nil? %>
			<td align="center" class="border-table"><%= business.category.title %></td>
		<% else %>
			<td align="center" class="border-table">nil</td>
		<% end %>
		<% unless business.subcategory_id.nil? %>
			<td align="center" class="border-table"><%= business.subcategory.title %></td>
		<% else %>
			<td align="center" class="border-table">nil</td>
		<% end %>
		<td align="center" class="border-table"><%= business.frugles.count %></td>
		<td align="center" class="border-table"><%= business.user.email %></td>
		<td align="center" class="border-table"><%= link_to "Delete", remove_business_path(:business_id => business.id), :method => :delete, :confirm => "Are you sure you want to delete this business?", :class => "link-blue" %></td>
  </tr>
<% end %>
<% end %>
</table>

<p><%= link_to "Back to Home", root_path %></p>