<% title "#{@business.name} Home"%>
<div class="yellow_strip"><%= @business.name %> Home</div>

<p><%= link_to "Sign Out", destroy_user_session_path, :style => "float: right; margin: -15px 0pt 15px;" %></p>

<div class="clr"></div>

<div id="business_info">

<div class="fl">
	<h2><%= @business.name %></h2>
	
	<div style="margin: 15px 0;">
		<span style="float:left;"><%= category_icon_business(@business) %></span>
		<h3 style="float: left; font-size: 12px; margin-left: 5px;">Category: <br /><%= @business.category.title %></h3>
	</div>
	<div class="clr"></div>
	
	<p style="margin-top:15px;">
		<%= @business.address %><br />
    <% unless @business.address2.nil? %>
    	<%= @business.address2 %><br />
		<% end %>
		<%= @business.neighborhood.name %>, <%= @business.zip %><br />
		<%= @business.phone %><br />
  	<a href="<%= @business.website %>" target="_blank" style="font-weight:bold;"><%= @business.website %></a>
	</p>
</div>

<div class="fr">
<% unless @business.frugles.count > 20 %>
	<div class="hide_button"><%= link_to "Add New Frugle", new_frugle_path(:business_id => @business.id) %></div>
	<div class="clr"></div>
<% end %>
<div class="hide_button"><%= link_to "Verify a Frugle", verify_path %></div>
<div class="clr"></div>
<p style="margin-top:10px;font-size:12px;text-align:center;"><%= link_to "Edit Business Info", edit_business_path(current_user.business) %></p>

</div>
					
<div class="clr"></div>
<div class="fl" style="margin-top:15px;">
<p> <%= @business.info %></p>
</div>

</div>

<div class="form_box_col2_plain">
<div align="center">
  <p><%= raw(@map.div(:width => 345, :height => 245)) %>	</p>
</div>
</div>
<div class="clr"></div>

<div class="black_bar" style="margin-top:50px;">
<div>Active Frugles - <%= @active_frugles.count %></div>
</div>

<div class="tag_box">
<table width="98%" border="0" cellpadding="5" cellspacing="2" class="border-table" style="margin:auto">
  <tr>
    <td align="center" class="border-table bg-dark">Date Created</td>
    <td align="center" class="border-table bg-dark">Date to Expire</td>
    <td align="center" class="border-table bg-dark">Deal</td>
    <td align="center" class="border-table bg-dark">Qty. left</td>
    <td align="center" class="border-table bg-dark">Views</td>
    <td align="center" class="border-table bg-dark">Prints</td>
    <td align="center" class="border-table bg-dark">&nbsp;</td>
  </tr>
<% for frugle in @active_frugles %>
  <tr>
    <td align="center" class="border-table"><%= l frugle.start.to_date, :format => :default %></td>
    <td align="center" class="border-table"><%= l frugle.end.to_date, :format => :default %></td>
    <td align="center" class="border-table"><%= link_to frugle.cost, frugle, :class => "iframe" %></td>
    <td align="center" class="border-table"><%= frugle.quantity %></td>
    <td align="center" class="border-table"><%= frugle.views %></td>
    <td align="center" class="border-table"><%= frugle.prints %></td>
    <td align="center" class="border-table"><%= link_to "Edit", edit_frugle_path(frugle), :class => "link-blue" %></td>
  </tr>
<% end %>
</table>
</div>
<div class="tag_border_bottom" style="margin-top:-7px;"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>

<% unless @expired_frugles.count == 0%>

<div class="black_bar">
<div class="red_text">Inactive Frugles - <%= @expired_frugles.count %></div>
</div>

<div class="tag_box">
<table width="98%" border="0" cellpadding="5" cellspacing="2" class="border-table" style="margin:auto">
  <tr>
    <td align="center" class="border-table bg-dark">Date Created</td>
    <td align="center" class="border-table bg-dark">Date to Expire</td>
    <td align="center" class="border-table bg-dark">Deal</td>
    <td align="center" class="border-table bg-dark">Qty. left</td>
    <td align="center" class="border-table bg-dark">Views</td>
    <td align="center" class="border-table bg-dark">Prints</td>
    <td align="center" class="border-table bg-dark">&nbsp;</td>
  </tr>
<% for frugle in @expired_frugles %>
  <tr>
    <td align="center" class="border-table"><%= l frugle.start.to_date, :format => :default %></td>
    <td align="center" class="border-table"><%= l frugle.end.to_date, :format => :default %></td>
    <td align="center" class="border-table"><%= link_to frugle.cost, frugle, :class => "iframe" %></td>
    <td align="center" class="border-table"><%= frugle.quantity %></td>
    <td align="center" class="border-table"><%= frugle.views %></td>
    <td align="center" class="border-table"><%= frugle.prints %></td>
    <td align="center" class="border-table"><%= link_to "Edit", edit_frugle_path(frugle), :class => "link-blue" %></td>
  </tr>
<% end %>
</table>
</div>
<div class="tag_border_bottom" style="margin-top:-7px;"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>

<% end %>