<% title "Home" %>
<h3><%= @business.name %></h3>
<p><%= @business.address %><br>
	 <%= @business.zip %><br />
	 <%= @business.phone %><br />
	 <%= link_to "Edit Business Info", edit_business_path(current_user.business) %>
</p>

<p><%= link_to "Sign Out", destroy_user_session_path %></p>
<p><%= link_to "Verify a Frugle", verify_path %></p>	 
	
<%= raw(@map.div(:width => 600, :height => 400)) %>	

<p><%= link_to "Add New Frugle", new_frugle_path %></p>

<h3>Active Frugles</h3>
<table>
  <tr>
    <th>Type</th>
	<th>Cost</th>
    <th>Mobile</th>
    <th>Quantity</th>
    <th>Views</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% for frugle in @active_frugles %>
    <tr>
      <td><%= frugle.discount %></td>
      <td><%= frugle.cost %></td>
      <td><%= frugle.mobile %></td>
      <td><%= frugle.quantity %></td>
      <td><%= frugle.views %></td>
      <td><%= frugle.start.to_date %></td>
      <td><%= frugle.end.to_date %></td>
      <td><%= link_to "Show", frugle %></td>
      <td><%= link_to "Edit", edit_frugle_path(frugle) %></td>
      <td><%= link_to "Destroy", frugle, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h3>Expired Frugles</h3>
<table>
  <tr>
    <th>Type</th>
	<th>Cost</th>
    <th>Mobile</th>
    <th>Quantity</th>
    <th>Views</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% for frugle in @expired_frugles %>
    <tr>
      <td><%= frugle.discount %></td>
      <td><%= frugle.cost %></td>
      <td><%= frugle.mobile %></td>
      <td><%= frugle.quantity %></td>
      <td><%= frugle.views %></td>
      <td><%= frugle.start.to_date %></td>
      <td><%= frugle.end.to_date %></td>
      <td><%= link_to "Show", frugle %></td>
      <td><%= link_to "Edit", edit_frugle_path(frugle) %></td>
      <td><%= link_to "Destroy", frugle, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>