<% title "Forgot your password?" %>
	<div id="splash_main_signup">
		<h2 class="scrollable_frugles_header" style="margin: 20px 0; text-align:center;">Enter Your Email Address to get password reset instructions.</h2>
      <div class="form_row">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				  <%= devise_error_messages! %>
				<div class="reg_row">
					<div class="reg_col_left">Email</div>
				  <div class="reg_col_right"><%= f.email_field :email, :class => "reg_bar" %></div>
				  	<div class="clr"></div>
				</div>


			<div class="hide_button"><%= f.submit "Send me Reset Instructions", :class => "orange_button" %></div>
		<% end %>
		<div class="form_row" style="text-align:center; font-size:14px;">
			<%= link_to "Sign In", new_user_session_path %><br />
			<%= render :partial => "users/shared/links" %>
			Sign In With 
			<%- resource_class.omniauth_providers.each do |provider| %>
				<%= link_to image_tag("facebook.png"), omniauth_authorize_path(resource_name, provider), :style => "position:relative;top:10px;" %>
			<% end -%>
		</div>

<div style="margin: 0 0 -14px -10px;"><%= image_tag "bottomgrass.png" %></div>
</div>

</div>

<div class="clr"></div>


