<h2 class="yellow_strip" style="margin-top:-15px; margin-bottom:0;">Admin Controls</h2>

<ul style="height:150px;list-style:none;">
	<li><%= link_to "Neighborhoods and Zipcodes", new_neighborhood_path %></li>
	<li><%= link_to "Categories and Subcategories", new_category_path %></li>
	<li><%= link_to "Users", users_admin_path %></li>
	<li><%= link_to "Businesses", businesses_admin_path %></li>
	<li><%= link_to "Frugles", frugles_admin_path %></li>
</ul>
<div class="clr"></div>