<%= form_for @neighborhood, :url => butthole_path, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<div class="reg_row">
		<div class="reg_col_left">Neighborhood Name</div>
	  <div class="reg_col_right"><%= f.text_field :name, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="reg_col_left">Enter the Full Address where you want the map for this neighborhood to be centered:</div>
	  <div class="reg_col_right" style="margin-top:60px;"><%= f.text_field :address, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="reg_col_left">Choose the zoom level for the map:</div>
	  <div class="reg_col_right"><%= f.select :zoom, options_for_select(@zoom_options), :prompt => "Zoom Level" %></div>
	  	<div class="clr"></div>
	</div>
	
	<div class="reg_row">
		<div class="reg_col_left">Upload the background image for this neighborhood (make it bigger than 1440px x 900px):</div>
	  <div class="reg_col_right" style="margin-top:80px;"><%= f.file_field :background, :class => "reg_bar" %></div>
	  	<div class="clr"></div>
	</div>
	
  <p><%= f.submit "Create Neighborhood", :class => "hide_button", :style => "margin-left:225px;" %></p>
<% end %>
