<% form_tag frugles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h2>Featured Frugles</h2>
<ul class="frugles">
	<%= render :partial => 'frugle', :collection => @featured, :as => :frugle %>
</ul>

<h2>Browse By Category</h2>
<ul id="categories">
<% for category in @categories %>
	<li id="category_<%= category.id %>">
	<% if @user_categories.include?(category) %>
		<%= link_to "#{category.title}", categorization_path(:category_id => category.id), :method => :delete, :remote => true, :style => "background-color:yellow;" %>
	<% else %>
		<%= link_to "#{category.title}", new_categorization_path(:category_id => category.id), :remote => true %>
	<% end %>
	</li>
<% end %>
</ul>

<h2>Subcategories</h2>
<ul id="subcategories">
	<%= render 'subcategories', :user_categories => @user_categories %>
</ul>

<h2>Frugles</h2>
<ul id="frugles" class="frugles">
	<%= render :partial => 'frugle', :collection => @results, :as => :frugle %>
</ul>

<h2>Map</h2>
<%= raw(@map.div(:width => 600, :height => 400)) %>