<% javascript "jquery.multipleelements.cycle.min" %>

<div id="personalizations">
<% unless current_user.follows.count == 0 %>
<h2 class="yellow_strip" style="margin-top:25px; margin-bottom:0;">Frugles from businesses you're following</h2>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#plainDemo").multipleElementsCycle({
			prev: '#cycleElementsLeft',
			start: 0,	
			next: '#cycleElementsRight'
			});
	});
</script>
		<div class="cycle_nav" style="float:left;">
			<a href="#" id="cycleElementsLeft"><img src="images/bottom_sliderarrow_left.png" alt="0" border="0" /></a>
		</div>
		<div class="cycleElementsContainer" id="plainDemo">
			<div id="cycleElements">
				<ul>
				<% for follow in current_user.follows %>
					<%= render :partial => 'frugle', :collection => follow.business.frugles, :as => :frugle %>
				<% end %>
				</ul>
			</div>
		</div>
		<div class="cycle_nav" style="float:right;">
			<a href="#" id="cycleElementsRight"><img src="images/bottom_sliderarrow_right.png" alt="0" border="0" /></a>
		</div>
<div class="clr"></div>
<% end %>

<% unless current_user.frugles.count == 0 %>
<h2 class="yellow_strip" style="margin-top:25px; margin-bottom:0;">Your Saved Frugles</h2>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#plainDemo-2").multipleElementsCycle({
			prev: '#cycleElementsLeft-2',
			start: 0,	
			next: '#cycleElementsRight-2'
			});
	});
</script>
		<div class="cycle_nav" style="float:left;">
			<a href="#" id="cycleElementsLeft-2"><img src="images/bottom_sliderarrow_left.png" alt="0" border="0" /></a>
		</div>
		<div class="cycleElementsContainer" id="plainDemo-2">
			<div id="cycleElements">
				<ul>
					<%= render :partial => 'frugle', :collection => current_user.frugles, :as => :frugle %>
				</ul>
			</div>
		</div>
		<div class="cycle_nav" style="float:right;">
			<a href="#" id="cycleElementsRight-2"><img src="images/bottom_sliderarrow_right.png" alt="0" border="0" /></a>
		</div>
<div class="clr"></div>
<% end %>

<h2 class="yellow_strip" style="margin-top:25px; margin-bottom:0;">Featured Frugles</h2>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#plainDemo-3").multipleElementsCycle({
			prev: '#cycleElementsLeft-3',
			start: 0,	
			next: '#cycleElementsRight-3'
			});
	});
</script>
		<div class="cycle_nav" style="float:left;">
			<a href="#" id="cycleElementsLeft-3"><img src="images/bottom_sliderarrow_left.png" alt="0" border="0" /></a>
		</div>
		<div class="cycleElementsContainer" id="plainDemo-3">
			<div id="cycleElements">
				<ul>
					<%= render :partial => 'frugle', :collection => @featured, :as => :frugle %>
				</ul>
			</div>
		</div>
		<div class="cycle_nav" style="float:right;">
			<a href="#" id="cycleElementsRight-3"><img src="images/bottom_sliderarrow_right.png" alt="0" border="0" /></a>
		</div>
<div class="clr"></div>

<div class="hide_button"><%= link_to "Hide Personalizations", neighborhood_personalizaton_path, :remote => true %></div>
<div class="tag_border_bottom"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>
</div>

	
	<div class="hide_button" id="personalizations_show" style="display:none;"><%= link_to "Show Personalizations", neighborhood_personalizaton_path, :remote => true %></div>
	
<% if current_user.sign_in_count == 1 %>
<h3>Choose a category to see all the Frugles for <%= @neighborhood.name %>.</h3>
<% end %>

<% form_tag frugles_path, :method => 'get' do %>
<div class="search_row">
	<div class="search_bar_bg"><%= text_field_tag :search, params[:search], :class => "search_bar" %></div>
  <div class="fl"><%= submit_tag "Search", :name => nil, :id => "search_button" %></div>
  	<div class="clr"></div>
</div>
<% end %>

<div class="black_bar">
	<div class="yellow2 fl">Select: </div>
  <div class="fl"><%= link_to "All", select_all_categories_path, :remote => true %> | <%= link_to "None", select_none_categories_path, :remote => true %> </div>
  	<div class="clr"></div>
</div>

<div class="cat_box">
	<ul class="cat_box_row1">
<% for category in @categories %>
<li class="fl" id="category_<%= category.id %>">
	<% if @user_categories.include?(category) %>
		<% @categorization = Categorization.find_by_user_id_and_category_id(current_user.id, category.id) %>
		<%= link_to "#{category.title}", categorization_path(@categorization), :method => :delete, :remote => true, :style => "background:#ffc90e;" %>
	<% else %>
		<%= link_to "#{category.title}", new_categorization_path(:category_id => category.id), :remote => true, :method => :post %>
	<% end %>
	</li>
<% end %>

</ul>
</div>
<div class="clr"></div>


<div class="tag_box" style="display:none;" id="toggle_subcategories">
	<div class="select_tag">Select:<span> <%= link_to "All", select_all_subcategories_path, :remote => true %><span> | <span class="active"><%= link_to "None", select_none_subcategories_path, :remote => true %></span></div>
  <ul class="tag_row1" id="subcategories">    
		<%= render 'subcategories', :user_categories => @user_categories %>
	</ul>
    	<div class="clr"></div> 

<div class="hide_button"><%= link_to "Hide Subcategories", subcategories_toggle_path, :remote => true %></div>
</div>
<div class="tag_border_bottom" style="margin-top:-6px;"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>


<div class="hide_button" id="show_subcategories"><%= link_to "Show Subcategories", subcategories_toggle_path, :remote => true %></div>

<div id="frugle_results">
<h2 class="yellow_strip" style="margin-top:30px; margin-bottom:0px;" id="frugles_count">Frugles - <%= pluralize(@results.count, "result") %></h2>
<ul id="frugles" class="tag_box" style="float:left;">
	<%= render :partial => 'small_frugle', :collection => @results, :as => :frugle %>
	<div class="clr"></div>
	<div class="hide_button" style="margin-bottom:10px;"><%= link_to "Hide Frugles", frugles_toggle_path, :remote => true %></div>
	<div class="clr"></div>
	
</ul>
</div>
<div class="hide_button" id="frugles_show" style="display:none;"><%= link_to "Show Frugles", frugles_toggle_path, :remote => true %></div>
<div class="clr"></div>
<div class="tag_border_bottom" style="position:relative;top:-6px;"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>

<div class="clr"></div>

<div id="map_toggle">
<h2 class="yellow_strip" style="margin-top:30px; margin-bottom:0px;">Map</h2>
<div class="map_box">
	<%= raw(@map.div(:width => 920, :height => 490)) %>
	<div class="hide_button"><%= link_to "Hide Map", map_toggle_path, :remote => true %></div>
</div>
</div>
<div class="hide_button" id="map_show" style="display:none;"><%= link_to "Show Map", map_toggle_path, :remote => true %></div>
<div class="tag_border_bottom" style="position:relative;top:-6px;"><img src="images/tag_box_bottom.png" alt="0" border="0" /></div>