<% form_tag frugles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% unless current_user.follows.count == 0 %>
<h2>Frugles from Businesses you are Following</h2>
<ul class="frugles">
	<% for follow in current_user.follows %>
		<%= render :partial => 'frugle', :collection => follow.business.frugles, :as => :frugle %>
	<% end %>
</ul>
<% end %>

<% unless current_user.frugles.count == 0 %>
<h2>Your Saved Frugles</h2>
<ul class="frugles">
	<%= render :partial => 'frugle', :collection => current_user.frugles, :as => :frugle %>
</ul>
<% end %>

<h2>Featured Frugles</h2>
<ul class="frugles">
	<%= render :partial => 'frugle', :collection => @featured, :as => :frugle %>
</ul>

<% if current_user.sign_in_count == 1 %>
<h3>Choose a category to see all the Frugles for <%= @neighborhood.name %></h3>
<% end %>

<h2>Browse By Category</h2>
<ul id="categories">
<% for category in @categories %>
	<li id="category_<%= category.id %>">
	<% if @user_categories.include?(category) %>
		<%= link_to "#{category.title}", categorization_path(current_user.id, :category_id => category.id), :method => :delete, :remote => true, :style => "background-color:yellow;" %>
	<% else %>
		<%= link_to "#{category.title}", new_categorization_path(current_user.id, :category_id => category.id), :remote => true %>
	<% end %>
	</li>
<% end %>
</ul>

<h2>Subcategories</h2>
<ul id="subcategories">
	<%= render 'subcategories', :user_categories => @user_categories %>
</ul>
<%= link_to "Hide", subcategories_toggle_path, :remote => true %>

<h2>Frugles</h2>
<ul id="frugles" class="frugles">
	<%= render :partial => 'frugle', :collection => @results, :as => :frugle %>
</ul>

<h2>Map</h2>
<%= raw(@map.div(:width => 600, :height => 400)) %>