<% title "New Neighborhood" %>
<h2 class="yellow_strip" style="margin-top:-15px; margin-bottom:0;">Neighborhood Admin</h2>
<h3 class="black_bar">New Neighborhood</h3>
<%= render 'form' %>


<h3 class="black_bar" style="margin-top: 25px;">Edit Neighborhoods</h3>
<ul>
<% for neighborhood in @neighborhoods %>
    <li>
      <%= neighborhood.name %> - 
      <%= link_to "Show", :controller => "neighborhoods", :action => "show", :id => neighborhood.friendly_id %> | 
      <%= link_to "Edit", edit_neighborhood_path(neighborhood) %> | 
      <%= link_to "Delete", neighborhood, :confirm => 'Are you sure?', :method => :delete %>
    </tr>
<% end %>
</ul>
