<% title "Neighborhood" %>

<p>
  <strong>Name:</strong>
  <%= @neighborhood.name %>
</p>

<p>
  <%= link_to "Edit", edit_neighborhood_path(@neighborhood) %> |
  <%= link_to "Destroy", @neighborhood, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", neighborhoods_path %>
</p>


<h2>New zipcode</h2>

<%= form_for @zipcode do |f| %>
  <%= f.error_messages %>
  <%= hidden_field(:neighborhood_id, @neighborhood.id) %>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<ul>
<% for zipcode in @zipcodes %>
    <li>
      <%= zipcode.zip %> - 
      <%= link_to "Delete", zipcode, :confirm => 'Are you sure?', :method => :delete %>
    </tr>
<% end %>
</ul>