<!DOCTYPE html>
<html>
<head>
  <title>Frugle | <%= content_for?(:title) ? yield(:title) : "" %></title>
	<% if params[:controller] == "frugles" && params[:action] == "print" %>
			<%= raw(GMap.header) %>
			<%= raw(@map.to_html) %>
	<% end %>
  <%= stylesheet_link_tag "print" %>
  <%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body Onload="print()">
	
	<div class="clear"></div>

	<div id="container">
      <%= yield %>
  </div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22646449-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>
