<!DOCTYPE html>
<html>
<head>
  <title>Frugle | <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag "splash" %>
  <%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
	
	<h1><%= link_to "Frugle", root_path%></h1>
	
	<div class="clear"></div>

	<div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h2, yield(:title) if show_title? %>
      <%= yield %>
  </div>

	<div id ="right_menu">
		
		<div id="business_owners">
			<p>Are you a business owner?</p>
			<%= link_to "List Your Frugles for Free!", new_business_path %>
		</div>
		
		<div id="login">
			<p>Already Have an Account?</p>
			<%= link_to "Sign In!", new_user_session_path %>
		</div>
	
	</div>
	
</body>
</html>
