<!DOCTYPE html>
<html>
<head>
  <title>Frugle | <%= content_for?(:title) ? yield(:title) : "" %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 7]>
	        <%= stylesheet_link_tag 'ie' %>
	<![endif]-->
	<!--[if !IE]><!-->
	        <%= stylesheet_link_tag "style" %>
	 <!--<![endif]-->
	<%= stylesheet_link_tag "css3buttons" %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" %>
	<%= csrf_meta_tag %>
	<script>
		jQuery.noConflict();
	</script>
  <%= yield(:head) %>
<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
</head>
<body id="splashbg">
    	<div id="header_splash">
    		<h1 class="logo"><%= link_to "Frugle", root_path %></h1>
				<%= image_tag "subtitle.png", :style => "float:right;" %>
			</div>
			<div class="clr"></div>

		<div id="splash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_notice" %>
      <% end %>
      <!--<%= content_tag :h2, yield(:title) if show_title? %> -->
      <%= yield %>
		</div>
		
		<div id="splash_bottom">
		
		<%= link_to about_path do %>
		<div class="splash_bottom_box">
			<h3>What's Frugle?</h3>
			<p>Frugle is the only place to find special savings in your neighborhood,
			exclusively for your neighborhood. Learn more about Frugle here.</p>
		</div>
		<% end %>
		
		<%= link_to businesses_path do %>
		<div class="splash_bottom_box">
				<h3>Business Owner?</h3>
			<p>Learn how Frugle helps you connect with new customers directly from your neighborhood. It's 100% free to get your business listed</p>
		</div>
		<% end %>
		
		<div class="clr"></div>
		
		<div id="footer" style="width:600px;">
			<ul>
				<li><%= link_to "© #{Time.now.year} Frugle.me", root_path %></li>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Verify a Frugle", verify_path %></li>
				<li><%= link_to "Login", new_user_session_path %></li>
				<li><%= link_to "Merchants", businesses_path %></li>
				<li><a href="mailto:jobs@frugle.me">Jobs</a></li>
				<li><%= link_to "Terms", terms_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</div>
		
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22646449-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>
