<!DOCTYPE html>
<html>
<head>
  <title>Frugle | <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "css3buttons" %>
  <%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
	<div id="body_wraper">
  	<div id="container">
    	<div id="header">
    		<h1 class="logo"><%= link_to "Frugle", root_path%></h1>

        <div class="header_col_right">
          <div class="header_right_link2">
          	<div class="fr"><%= link_to "Sign In", new_user_session_path %></div>
             	<div class="clr"></div>            
          </div>
        </div>
      		<div class="clr"></div>
        </div>
        <div class="clr"></div>

	<div id="body_container">
		<div id="body_content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <!--<%= content_tag :h2, yield(:title) if show_title? %> -->
      <%= yield %>
      <div class="form_box_col2">
      <div class="form_box_2">
       <div class="caption_2	">Already Have An Account?</div>
       <div style="text-align:center;"><%= link_to "Sign In!", new_user_session_path, :class => "big button negative" %></div>
       <div class="caption_2">Are you a business owner?</div>
       <div style="text-align:center;"><%= link_to "List Your Frugles for Free!", businesses_path, :class => "big button negative" %></div>
      </div>
      
      </div>
      <div class="clr"></div>
    </div>
</div>

</div>
</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22646449-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>
