<% title "Sign Up" %>

  <h2 class="scrollable_frugles_header" style="margin: 20px 0;text-align:center;">Step Two: Sign Up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= hidden_field(:neighborhood_id, session[:neighborhood]) %>

<div class="reg_row">
	<div class="reg_col_left">First Name</div>
  <div class="reg_col_right"><%= f.text_field :first_name, :class => "reg_bar" %></div>
  	<div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Last Name</div>
  <div class="reg_col_right"><%= f.text_field :last_name, :class => "reg_bar" %></div>
  	<div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Sex</div>
  <div class="reg_col_right">
  	<%= f.radio_button :sex, "Male" %> Male
	  <%= f.radio_button :sex, "Female" %> Female
  </div>
	<label for="user[sex]" class="error" style="display:none;left:-73px;
	position:relative;">***</label>
  <div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Birth Day</div>
  <div class="reg_col_right">
  	<div class="fl" id="birthday">
    	<%= f.date_select :birthday, 
						  :start_year => Time.now.year,
						  :end_year => 1900,
						  :include_blank => true,
						  :order => [:month, :day, :year]
		%>
		<label for="birthday" class="error" style="margin-left:5px;display:none;">***</label>
    </div>
    <div class="clr"></div>
  </div>
  	<div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Email</div>
  <div class="reg_col_right"><%= f.text_field :email, :class => "reg_bar" %></div>
  <div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Create Password</div>
  <div class="reg_col_right"><%= f.password_field :password, :class => "reg_bar" %></div>
  <div class="clr"></div>
</div>
<div class="reg_row">
	<div class="reg_col_left">Confirm Password</div>
  <div class="reg_col_right"><%= f.password_field :password_confirmation, :class => "reg_bar" %></div>
  <div class="clr"></div>
</div>

<p style="text-align:center;font-size: 14px;"><label for="terms" class="error" style="display:none;position: relative; left: -5px; top: 1px;">***</label><%= check_box_tag :terms %> You agree to our <%= link_to "terms and service", terms_path, :style => "font-weight:bold;", :target => "_blank" %></p>

<div class="hide_button"><%= f.submit "Sign up", :class => "orange_button" %></div>

<% end %>
<div class="form_row">
Sign up with 
<%- resource_class.omniauth_providers.each do |provider| %>
	<%= link_to image_tag("facebook.png"), omniauth_authorize_path(resource_name, provider), :style => "position:relative;top:10px;" %>
<% end -%>
</div>

<div class="form_row">
Already have an account? <%= link_to "Sign in", new_user_session_path, :style => "font-weight:bold;" %>
</div>

<div class="form_row">
<%= link_to "Skip this for Now", root_path, :style => "font-weight:bold;" %>
</div>

</div>

