<% title "Account Settings" %>

<h2 class="yellow_strip">Account Settings</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<div id="account_settings">

    <div class="scrollable_frugles_header" style="margin-left:0;">Personal Settings</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

<div class="box">
	
    	<div class="reg_row">
      	<div class="reg_col_left">Email:</div>
        <div class="reg_col_right"><%= f.email_field :email, :class => "reg_bar" %></div>
        	<div class="clr"></div>
					</div>
    <div class="reg_row">
      	<div class="reg_col_left">New Password:</div>
        <div class="reg_col_right"><span><%= f.password_field :password, :class => "reg_bar"	 %></span>
        </div>
        	<div class="clr"></div>
    </div>
    <div class="reg_row">
      	<div class="reg_col_left">Confirm New Password:</div>
        <div class="reg_col_right"><span><%= f.password_field :password_confirmation, :class => "reg_bar"	 %></span>
        </div>
        	<div class="clr"></div>
    </div>
    <div class="reg_row">
      	<div class="reg_col_left">Your neighorhood:</div>
        <div class="reg_col_right"><%= f.select(:neighborhood_id, Neighborhood.all.collect {|p| [ p.name, p.id ] } ) %>
        </div>
        <div class="clr"></div>
    </div>

</div>
		<%= f.fields_for :email_setting do |s| %>
		<div class="scrollable_frugles_header" style="margin-left:0;">Your Email Preferences</div>
		
		<div id="control_how_often">
			<%= image_tag "controlhowoften.png" %>
		</div>
		
		<div class="box">
		
    <div class="marg-left">
    	<div class="fl"><%= s.check_box :newsletter %></div>
      <div class="fl">Receive monthly Frugle newsletter</div>
      	<div class="clr"></div>
    </div>
    <div class="marg-left">
    	<div class="fl"><span>Send me email of new Frugles from: </span></div>

      	<div class="clr"></div>
    </div>
    <div class="marg-left" style="margin-left:50px;">
			<div class="fl">Local businesses I'm following:</div>
    	<div class="fr" style="margin-right: 40px;"><%= s.select :businesses_following, options_for_select(@interval_options, resource.email_setting.businesses_following) %>	</div>
      	<div class="clr"></div>
    </div>
    <div class="marg-left" style="margin-left:50px;">
			<div class="fl">Categories I'm following:</div>
    	<div class="fr" style="margin-right: 40px;"><%= s.select :categories_following, options_for_select(@interval_options, resource.email_setting.categories_following) %></div>
      	<div class="clr"></div>
    </div>
    <div class="marg-left" style="margin-left:50px;">
			<div class="fl">Recommended for me:</div>
    	<div class="fr" style="margin-right: 40px;"><%= s.select :recommendations, options_for_select(@interval_options, resource.email_setting.recommendations) %></div>
      	<div class="clr"></div>
    </div>
</div>
		<% end %>
		
		<% unless current_user.follows.count == 0 && current_user.categories.count == 0 %>
    <div class="scrollable_frugles_header" style="margin-left:0;">Currently Following</div>

<div class="box">
	
	<div id="youll_be_alerted">
		<%= image_tag "youllbealerted.png" %>
	</div>
	
		<% unless current_user.follows.count == 0 %>

    <div class="black_bar" style="margin-top:10px;">Local businesses</div>
    
    <ul class="marg-left" id="businesses_following">
			<%= render :partial => 'businesses_following' %>
    </ul>
		<div class="clr"></div>
		<% end %>
		
		<% unless current_user.categories.count == 0 %>
    <div class="black_bar">Categories</div>
    <ul class="marg-left" id="categories_following">
			<%= render :partial => 'categories_following' %>
       	<div class="clr"></div>
    </ul>
		<% end %>
       	<div class="clr"></div>
    </div>
<% end %>

</div>


    <div style="text-align:center;"><%= f.submit "Save Settings", :class => "button" %></div>
<% end %>

  <div class="clr"></div>

<% if @facebook == nil %>
	<%- if devise_mapping.omniauthable? %>
		<ul id="social-icons">
		  <%- resource_class.omniauth_providers.each do |provider| %>
			<li><%= link_to "Connect Your Facebook Account", omniauth_authorize_path(resource_name, provider) %></li>
		  <% end -%>
		</ul>
		<div class="clear"></div>
	<% end -%>
<% end %>

	<!--Add some omniauth goodness:
	
	<%= render :partial => "devise/shared/links" %> -->

	<%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<div style="margin:0 0 -28px -17px;"><%= image_tag "skyline_bottom.png" %></div>

</div>