<% title "Account Settings" %>

<h2>1. Personal Settings </h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></p>

  <p><%= f.label :sex %><br />
  <%= f.radio_button :sex, "Male" %> Male
  <%= f.radio_button :sex, "Female" %> Female</p>

  <p><%= f.label :birthday %><br />
    <%= f.date_select :birthday, 
					  :start_year => Time.now.year,
					  :end_year => 1900,
					  :include_blank => true,
					  :order => [:month, :day, :year]											
	%></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

<h2>2. Email Settings</h2>
<%= f.fields_for :settings do |s| %>
<p>
  <%= s.label :newsletter %><br />
  <%= s.check_box :newsletter %>
</p>
<p>
  <%= s.label :send_me_email_of_new_frugles %><br />
  <%= s.check_box :new_frugles %>
</p>
<p>
	<% @interval_options = [['As It Happens', 'instant'], ['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']] %>
    <%= s.select :interval, options_for_select(@interval_options) %>
<p>
  <%= s.label :local_businesses_I_am_following %><br />
  <%= s.check_box :businesses_following %>
</p>
<p>
  <%= s.label :categories_I_am_following %><br />
  <%= s.check_box :categories_following %>
</p>
<p>
  <%= s.label :recommended_for_me %><br />
  <%= s.check_box :recommendations %>
</p>
<% end %>

<h2>3. Following</h2>
<h3>Local Businesses</h3>
<ul>
	<% for follow in current_user.follows %>
		<li>
			<%= follow.business.name %>
		</li>
	<% end %>
</ul>

<h3>Categories</h3>
<ul>
	<% for category in current_user.categories %>
		<li>
			<%= category.title %>
		</li>
	<% end %>
</ul>

  <p><%= f.submit "Update" %></p>
<% end %>

<%- if devise_mapping.omniauthable? %>
	<ul id="social-icons">
	  <%- resource_class.omniauth_providers.each do |provider| %>
		<li><%= link_to "Connect Your Facebook Account", omniauth_authorize_path(resource_name, provider) %></li>
	  <% end -%>
	</ul>
	<div class="clear"></div>
<% end -%>

<!--Add some omniauth goodness:

<%= render :partial => "devise/shared/links" %> -->

<%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

