<div class="yellow_strip">Sign Up for Frugle</div>
 <div class="form_box_col">
  <div class="form_box" style="padding:10px !important;">
    <div class="caption">Choose Your Neighborhood</div>
    <div class="form">
      <div class="form_row" id="box">
				<%= form_tag "/neighborhoods/initial", :remote => true do %>
				  <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, "id", "name") ) %>
				  <%= submit_tag "Choose Neighborhood" %>
				<% end %>
      </div>
    </div>
		<div id="sign_up" style="display:none;">
		<%= render :partial => 'sign_up' %>
		</div>
  </div>
  <div class="tag_border_bottom fl" style="margin-top:-7px;"><%= image_tag "box_bottom.jpg" %></div>
</div>